<% provide :title, t(".word_detail") %>
<h1 class="head"><%= t ".word-detail" %></h1>
<div class="col-sm-8 col-sm-offset-2">
  <table class="responstable">
    <thead class="title_table th_word">
      <tr>
        <th><%= t".content"%></th>
        <th><%= t".answer"%></th>
        <th><%= t".category"%></th>
      </tr>
    </thhead>
    <tbody>
      <tr>
        <td>
          <%= @word.content %>
        </td>
        <td>
          <ul>
            <% @answers.each do |answer| %>
              <li>
                <%= answer.content %>
                <% if answer.is_correct %>
                  <span class="glyphicon glyphicon-ok"></span>
                <% else %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </td>
        <td>
          <%= @word.category_name %>
        </td>
      </tr>
    </tbody>
  </table>
  <%= link_to t(".ok"), :back, class: "btn btn-primary fa fa-chevron-left pull-right" %>
</div>

