<% provide(:title, @user.name) %>
<% if logged_in? %>
  <section class="container-fluid">
    <div class="row">
      <aside class="col-md-3">
        <section class="user_info">
          <%= render "shared/user_info" %>
        </section>
        <section class="stats">
          <%= render "shared/stats" %>
        </section>
        <%= render "follow_form" if logged_in? %>
      </aside>
      <aside class="col-md-5">
        <section class="note">
        <h1>
          <i class="fa fa-bell-o"></i>
          <%= t ".activities" %>
        </h1>
        <% if @activities.any? %>
          <ul>
            <%= render @activities %>
          </ul>
          <%= link_to t(".more_activities"), activities_path(@user) %>
        <% end %>
      </section>
      </aside>
      <aside class="col-md-4">
        <h1><%= t ".show_results" %></h1>
          <%= render "lessons/lesson" %>
      </aside>
    </div>
  </section>
<% end %>
