  <div class="table-responsive table-condensed">
  <table class="responstable" >
    <tr>
      <th><%= t ".lesson" %></th>
      <th><%= t ".category" %></th>
      <th><%= t ".action" %></th>
      <th><%= t ".mark" %></th>
    </tr>
    <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td class="col-sm-3" ><%= t ".lesson" %><%= lesson.id %></td>
        <td class="col-sm-3" ><%= lesson.category_name %></td>
        <td class="col-sm-4">
          <% if lesson.is_complete %>
            <%= link_to t(".complete"), lesson_path(id: lesson.id),
              class: "btn btn-success btn-sm" %></td>
          <% else %>
            <%= link_to t(".not_complete"), edit_lesson_path(id: lesson.id),
              class: "btn btn-info btn-sm" %></td>
          <% end %>
        </td>
        <td class="col-sm-2" style="color: red">
          <%= lesson.number_correct_answer.to_s + " / " +
            Settings.lesson.size.to_s %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
    <%= will_paginate @lessons%>
</div>
