<% provide :title, t(".lesson", id: @lesson.id) %>
<section class="container-fluid">
  <div class="container">
    <div>
      <label><%= t ".category" %>:</label>
      <%= @category_name %>
    </div>
    <div>
      <label><%= t ".date" %>:</label>
      <%= convert_datetime @lesson.created_at %>
    </div>
    <div>
    <div>
      <label><%= t ".finish" %>:</label>
      <%= convert_datetime @lesson.updated_at %>
    </div>
    <div>
      <label><%= t ".mark" %>:</label>
      <% unless @lesson.nil? %>
        <%= @lesson.number_correct_answer.to_s + " / " +
          Settings.lesson.size.to_s%>
      <% end %>
    </div>
  </div>
  <h1><%= t ".lesson", id: @lesson.id %></h1>
  <%= form_for @lesson do |f| %>
    <ol>
      <%= f.fields_for :results do |builder| %>
        <%= render "result", f: builder %>
      <% end %>
    </ol>
    <div class="col-sm-1">
      <%= link_to t(".ok"), user_path(id: @lesson.user_id),
        class: "btn btn-primary" %>
    </div>
  <% end %>
</section>
