<tr class="category-row">
  <td class="col-md-1"><%= index_for category_counter, @categories.current_page,
    Settings.category.per_page %></td>
  <td class="col-md-2"><%= category.name %></td>
  <td class="col-md-4"><%= category.description %></td>
  <td class="col-md-2"><%= category.words.count %></td>
  <td class="col-md-3">
  <button type="button" class="btn btn-success btn-edit-category"
    id="<%= category.id %>">
    <%= t ".edit" %>
  </button>
  <%= link_to t(".delete"), [:admin, category],
    method: :delete, data: {confirm: t(".message_confirm", name: category.name)},
    class: "btn btn-danger" %></td>
</tr>
<%= form_tag admin_category_path(category) , method: :put,
  id: "edit-category-form" do %>
  <div id="category-modal-<%= category.id %>" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3><%= t ".edit_category" %></h3>
        </div>
        <div class="modal-body">
          <form role="form">
          <%= hidden_field_tag "id", category.id %>
            <div>
              <label><%= t ".name" %></label>
              <%= text_field_tag :name, params[:name], value: category.name,
                class: "form-control" %>
            </div>
            <div>
              <label><%= t ".description" %></label>
              <%= text_field_tag :description, params[:description],
                value: category.description, class: "form-control" %>
            </div>
              <%= submit_tag t(".update"), class: "btn btn-success" %>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger"
                data-dismiss="modal">
                <%= t ".cancel" %>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<% end %>
