<% provide :title, t(".all_categories") %>
<h1 class="head"><%= t ".all_categories" %></h1>
<div class="row">
  <div class="search-form">
    <%= form_tag users_path, method: :get, id: "search-form" do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search],
          placeholder: t(".search"), class: "form-control search-field" %>
        <div class="input-group-btn search-btn">
        <%= button_tag type: "submit", class: "btn btn-primary" do %>
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-12">
    <%= link_to "", new_admin_category_path, remote: true,
      class: "btn btn-primary btn-add-category pull-right fa fa-plus" %>
  </div>
</div>
<div class="table-responsive table-condensed ">
  <table class="responstable" id="list_category" cellspacing="5px">
    <tr>
      <th><%= t ".number" %></th>
      <th><%= t ".name" %></th>
      <th><%= t ".description" %></th>
      <th><%= t ".total" %></th>
      <th><%= t ".info" %></th>
      <th><%= t ".edit" %></th>
      <th><%= t ".delete" %></th>
    </tr>
    <tbody>
      <%= render @categories %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
<%= form_tag admin_categories_path , method: :post,
  id: "add-category-form" do %>
  <div id="category-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="head"><%= t".add_category" %></h3>
        </div>
        <div class="modal-body">
          <form role="form">
            <div>
              <label><%= t ".name" %></label>
              <%= text_field_tag :name, params[:name], class: "form-control" %>
            </div>
            <div>
              <label><%= t ".description" %></label>
              <%= text_area_tag :description, params[:description],
                class: "form-control" %>
            </div>
          </div>
          <div class="modal-footer">
          <%= submit_tag t(".add"), class: "btn btn-primary btn-submit"%>
            <button type="submit" class="btn btn-danger"
              data-dismiss="modal">
              <%= t ".cancel" %>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>


