<% provide :title, t(".all_categories") %>
<section class="container-fluid">
  <h1><%= t ".all_categories" %></h1>
  <div class="row">
    <div class="search-form">
      <%= form_tag categories_path, method: :get, id: "search-form" do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search],
            placeholder: t(".search"), class: "form-control search-field" %>
          <div class="input-group-btn search-btn">
          <%= button_tag type: "submit", class: "btn btn-primary" do %>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="table-responsive table-condensed">
          <table class="responstable" id="list_categories">
            <thead class="title_table th_word">
              <tr>
                <th class="th_index"><%= t ".number" %></th>
                <th class="th_user"><%= t ".name" %></th>
                <th class="th_user"><%= t ".description" %></th>
                <th class="th_user"><%= t ".total_word" %></th>
                <th class="th_user"><%= t ".start" %></th>
                <th class="th_user"><%= t ".detail" %></th>
              </tr>
            </thead>
            <tbody>
              <%= render @categories %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
